h1{
	color: green;
	font-family: sans-serif;
	font-size: 50px;
}
.msa{
	color: yellow;
	font-family: serif;
	font-size: 40px;
}
.nai{
	color: red;
	font-family: revert-layer;
	font-size: 30px;
}
.ksm{
	color: black;
	font-family:cursive ;
	font-size: 20px;
}
.nkr{
	color: blue;
	font-family: unset;
	font-size:10px;
}
